{% extends 'pau/base.html' %}

{% block nav %}{% endblock %}
{% block hero_block %}
<div class="wide-container top-block blue backer-top-block alpha-top-block">
    <div class="container">
        <div class="main-content-block ta-center">
            <div class="alpha-index-logo"></div>
            <h1 class="heading-with-hr"><span>AlphaRevive</span><hr></h1>
            <p class="note-style">Microblogging for App.net</p>
			<p class="note-style">This instance of Alpha is currently in development.</p>
			<p class="note-style">This isn't a clone of App.net itself, but is a microblogging client for it.</p>
				<p class="note-style">Feature requests can be sent to alpha@a.jvimedia.org</p>
            <div class="simple-sign-up-block">
                <a href='{{ url_for('login') }}' class='btn btn-primary broadcast-index-button'>Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
{% endblock %}
